<div id="popup1" class="popup">
    <a href="#header" class="popup_area"></a>
    <div class="popup__body">
        <div class="popup__content">
            <a href="#header" class="popup__close">X</a>
            <div class="popup__title">Название столбца</div>
            
            <div class="popup__red">Добавить</div>
        </div>
    </div>
</div>