.cont.ras
    a.none(href='http://localhost:3000/dashboard')
        h1.s Kanban
    .rs
        button.btn.btn-outline-dark.ots(type='button') Просмотреть выполненые задачи
        a(href="#popup1")
            button.btn.btn-outline-dark.ots(type='button') Добавить столбец
        a(href="#popup2")
            button.btn.btn-outline-dark(type='button') Добавить задачу
    a(href='http://localhost:3000/registr')
        img.prof(title='Вход/Регистрация' src='./img/1.png')
