#kvadrat1green.container
  .naz Название задачи
  .nz
    | краткое описание задачи, что нужно сделать, как нужно сделать и в какие сроки...
  .n
    button.btn.btn-success(type='button') Завершить
    button.btn.btn-success(type='button') Описание
