#kvadrat1yellow.container
  .naz Название задачи
  .nz краткое описание задачи, что нужно сделать, как нужно сделать и в какие сроки...
  .n
    button.btn.btn-warning(type='button') Завершить
    button.btn.btn-warning(type='button') Описание
  
