<div id="popup" class="popup">
    <a href="#header" class="popup_area"></a>
    <div class="popup__body">
        <div class="popup__content">
            <a href="#header" class="popup__close">X</a>
            <div class="popup__title">Название задачи</div>
            <div class="popup__text">Подробное описание задачи
            <p>  что нужно сделать, как нужно сделать и в какие сроки...</p>
            </div>
            <div class="popup__red">Редактировать</div>
        </div>
    </div>
</div>