#kvadrat1red.container
  .naz Название задачи
  .nz
    | краткое описание задачи, что нужно сделать, как нужно сделать и в какие сроки...
  .n
    button.btn.btn-danger(type='button') Завершить
    button.btn.btn-danger(type='button') Описание
