.cont.ras
    h1.s Kanban
    .rs
        button.btn.btn-outline-dark.ots(type='button') Просмотреть выполненые задачи
        button.btn.btn-outline-dark.ots(type='button') Добавить столбец
        button.btn.btn-outline-dark(type='button') Добавить задачу
    a(href='')
        img.prof(title='Вход/Регистрация' src='./img/1.png')
